<nav class="drakonav">
		{{#foreach navigation}}
		<li class="drakolist">
			<a class="{{slug}}{{#if current}} current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
		</li>
		{{/foreach}}
</nav>
<div class="overlay"></div>